<a href="https://colab.research.google.com/github/PiyushiJain/Web_Scrapping_Fundamentals/blob/master/Web_Scrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from bs4 import BeautifulSoup
import requests

In [0]:
url='https://www.google.com/search?q=tanvi'

In [0]:
r = requests.get(url)

In [0]:
r.status_code

200

In [0]:
url2 = 'https://pythonhow.com/example.html'

In [0]:
head = {'Upgrade-Insecure-Requests': '1',
'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36',
'Sec-Fetch-Mode': 'navigate',
'Sec-Fetch-User': '?1',
'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3'
}

In [0]:
r2 = requests.get(url2,headers=head)

In [0]:
r2.status_code

200

In [0]:
r2.status_code

200

In [0]:
print(r2.text)

<!DOCTYPE html>
<html>
<head>
<style>
div.cities {
    background-color:black;
    color:white;
    margin:20px;
    padding:20px;
}
</style>
</head>
<body>
<h1 align="center"> Here are three big cities </h1>
<div class="cities">
<h2>London</h2>
<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
</div>
<div class="cities">
<h2>Paris</h2>
<p>Paris is the capital city of France. It was declared capital since 508.</p>
</div>
<div class="cities">
<h2>Tokyo</h2>
<p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
</div>
</body>
</html>

In [0]:
soup = BeautifulSoup(r2.text,'html.parser')

In [0]:
cityName = soup.find_all('h2')

In [0]:
cityName

In [0]:
descs = soup.find_all('p')

In [0]:
descs

[<p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>,
 <p>Paris is the capital city of France. It was declared capital since 508.</p>,
 <p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>]

In [0]:
cityName[0]

In [0]:
cityName[0].text

'London'

In [0]:
cityName

In [0]:
s1 = soup.find_all('div',{'class':'cities'})

In [0]:
s1

[<div class="cities">
 <h2>London</h2>
 <p>London is the capital of England and it's been a British settlement since 2000 years ago. </p>
 </div>, <div class="cities">
 <h2>Paris</h2>
 <p>Paris is the capital city of France. It was declared capital since 508.</p>
 </div>, <div class="cities">
 <h2>Tokyo</h2>
 <p>Tokyo is the capital of Japan and one of the most populated cities in the world.</p>
 </div>]

In [0]:
d = {'city' : [i.text for i in soup.find_all('h2')],
        'desc' : [i.text for i in soup.find_all('p')]}

In [0]:
d

{'city': ['London', 'Paris', 'Tokyo'],
 'desc': ["London is the capital of England and it's been a British settlement since 2000 years ago. ",
  'Paris is the capital city of France. It was declared capital since 508.',
  'Tokyo is the capital of Japan and one of the most populated cities in the world.']}

In [0]:
import pandas as pd

In [0]:
df = pd.DataFrame(d)

In [0]:
df

     city                                               desc
0  London  London is the capital of England and it's been...
1   Paris  Paris is the capital city of France. It was de...
2   Tokyo  Tokyo is the capital of Japan and one of the m...

In [0]:
url3 = 'https://www.flipkart.com/search?q=fossil+watch&page=1'

In [0]:
r3 = requests.get(url3,headers=head)

In [0]:
r3.status_code

200

In [0]:
soup3 = BeautifulSoup(r3.text,'html.parser')

In [0]:
ghadiKaNaam = soup3.find_all('a',{'class':'_2cLu-l'})

In [0]:
Names = [i.text for i in soup3.find_all('a',{'class':'_2cLu-l'})]

In [0]:
df2 = pd.DataFrame({'Names':Names})
df2.head()

                                            Names
0  Fossil ES4079 Stella Analog Watch  - For Women
1   Fossil FS4682 Machine Analog Watch  - For Men
2  Fossil FS4662 MACHINE Watch  - For Men & Women
3    Fossil CH2647 Decker Analog Watch  - For Men
4   Fossil BQ3182 KARLI Analog Watch  - For Women

In [0]:
df2['Gender'] = df2['Names'].apply(lambda x: 'Women' if 'women' in x.lower() else 'Men')

In [0]:
df2.head()

                                            Names Gender
0  Fossil ES4079 Stella Analog Watch  - For Women  Women
1   Fossil FS4682 Machine Analog Watch  - For Men    Men
2  Fossil FS4662 MACHINE Watch  - For Men & Women  Women
3    Fossil CH2647 Decker Analog Watch  - For Men    Men
4   Fossil BQ3182 KARLI Analog Watch  - For Women  Women